# for calculation
Cython
inputimeout
numpy
scipy
pandas
quaternion
numpy-quaternion
pyquaternion

# for display
tqdm
ipython
ipywidgets
matplotlib
plotly
tyro
termcolor

# for ros2
catkin_pkg
pyyaml #add
jinja2 #add
